.container {
    display: flex;
    gap: 80px;
    margin: 50px 300px;

    .title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #3c184e;
        font-size: 18px;
        font-weight: 500;
    }

    .centerText {
        font-size: 90px;
        font-weight: 900;
        color: #3c184e;
        max-width: 700px;
        margin-top: 150px;
    }

    .subText {
        font-size: 20px;
        font-weight: 400;
        margin: 30px 0px 50px;
    }

    .btnList {
        display: flex;
        gap: 30px;

        .button {
            background: #713fff;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            border-radius: 40px;
            color: #fff;
            border-style: none;
            cursor: pointer;
            font-size: 18px;
            padding: 12px 60px;
            text-transform: none;
        }

        .contact {
            background: none;
            border-style: none;
            cursor: pointer;
            font-size: 17px;
            color: #3c184e;
            box-shadow: none;
            text-transform: none;
        }
    }

    .dog {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-top: 170px;

        .food {
            position: absolute;
            margin-top: 330px;
            margin-right: 300px;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.modal {
    .modalTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        gap: 10px;
        border-bottom: 1px solid gray;
    }

    .contacts {
        margin-top: 20px;

        .modalSettings {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            gap: 10px;
        }
    }

    .finalModal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 1px solid gray;
        margin-top: 20px;

        .btnModal {
            background: #713fff;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            border-radius: 40px;
            color: #fff;
            border-style: none;
            cursor: pointer;
            font-size: 18px;
            padding: 12px 60px;
            margin: 20px;
            text-transform: none;
        }
    }
}

.formModal {
    .formTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        gap: 10px;
        border-bottom: 1px solid gray;
    }

    .form {
        margin-top: 20px;

        .formFormat {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            gap: 10px;
        }

        .formPay {
            padding: 10px 20px;
        }

        .finalModal {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;
            border-top: 1px solid gray;

            .btnModal {
                background: #713fff;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                border-radius: 40px;
                color: #fff;
                border-style: none;
                cursor: pointer;
                font-size: 18px;
                padding: 12px 60px;
                margin: 25px 20px 10px;
                text-transform: none;
            }
        }
    }
}

.paymentModal {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    border-bottom: 1px solid gray;
}
